@import "./reset";
@import "./loading-screen";

.no-scroll {
  overflow: hidden;
}

@mixin scrollBar() {
  &::-webkit-scrollbar {
    width: 0.25rem;
    &-track {
      border-radius: 0.5rem;
    }
    &-thumb {
      background: #0038ff;
      border-radius: 0.5rem;
    }
  }
}

@mixin defaultButton() {
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  line-height: 100%;
  padding: 15px;
  width: 100%;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.cart-wrapper{
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 100%;
  height: 100dvh;
  display: none;
  &.active{
    display: block;
  }
}
.cart-backdrop{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.2s linear;
}
.cart {
  animation: grow 0.2s ease-in-out;
  position:absolute;
  top:0;
  right: 0;
  height: 100%;
  background-color: white;
  &,
  * {
    font-family: Poppins;
  }
  width: 100%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  @media (max-width: 500px) {
    max-width: none;
  }
  img {
    width: 100%;
  }
  &__steps {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
    display: none;
    flex-direction: column;
    &.active {
      display: flex;
    }
    &__head {
      background-color: #171820;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 20px;
      svg {
        fill: white;
        width: 100%;
        max-width: 22px;
        display: block;
      }
      button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        &[step-back] {
          display: none;
          &.active {
            display: block;
          }
        }
      }
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
      }
    }
    &__step {
      display: none;
      &.active {
        display: flex;
      }
      flex-direction: column;
      padding: 0 20px 20px 20px;
      flex: 1;
      max-height: calc(100% - 46px);
      img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
      }
      &__image-wrapper {
        width: calc(100% + 40px);
        margin: auto;
        margin-top: 0;
        margin-left: -20px;
        margin-bottom: 16px;
        overflow: hidden;
      }
      &__title {
        font-size: 16px;
        font-weight: 900;
        line-height: 100%;
        margin-bottom: 4px;
      }
      &__sub-title {
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 8px;
      }
      &__selectors-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 4px;
        margin-bottom: 8px;
        input {
          display: none;
        }
        overflow-y: auto;
        @include scrollBar();
        label {
          flex: 0 1 48px;
          &:has(img) {
            flex: 0 1 84px;
            border-radius: 4px;
            position: relative;
            span {
              display: block;
              position: absolute;
              bottom: 0;
              left: 0;
              z-index: 1;
              font-size: 8px;
              text-align: center;
              width: 100%;
              background-color: white;
              padding: 4px;
            }
          }
          &.sizes-selector {
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            gap: 2px;
            align-items: center;
            justify-content: center;
            font-size: 17px;
            text-align: center;
            background-color: #e2f0ff;
            font-weight: 700;
            .price-up-text {
              font-size: 9px;
            }
          }
          border: 2px solid #d9d9d9;
          border-radius: 50%;
          overflow: hidden;
          cursor: pointer;
          aspect-ratio: 1;
          .color-selector {
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            span {
              position: absolute;
              right: 50%;
              rotate: -45deg;
              top: 0;
              transform-origin: right;
              width: 100%;
              height: 100%;
              z-index: 1;
            }
          }
          &:has(input:checked) {
            border-color: red;
          }
          &:has(input:disabled) {
            cursor: not-allowed;
            position: relative;
            span {
              filter: saturate(0);
            }
            &:before {
              content: "";
              width: 100%;
              height: 2px;
              background-color: red;
              position: absolute;
              top: 50%;
              left: 0;
              z-index: 2;
              transform: rotate(45deg) translateY(-50%);
            }
            &:after {
              content: "";
              width: 100%;
              height: 2px;
              background-color: red;
              position: absolute;
              top: 50%;
              left: 0;
              z-index: 2;
              transform: rotate(-45deg) translateY(-50%);
            }
          }
        }
      }
      button {
        @include defaultButton();
        margin-top: auto;
        background-color: red;
        color: white;
        &:hover {
          background-color: #0047ff;
        }
      }
    }
  }
  &__head {
    background-color: #171820;
    color: white;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      button {
        display: none;
        margin-right: -8px;
        &.active {
          display: block;
        }
      }
      display: flex;
      align-items: center;
      gap: 15px;
      width: 100%;
      svg {
        width: 100%;
        max-width: 22px;
        path {
          fill: white;
        }
      }
    }
    button {
      padding: 0;
      border: none;
      background: none;
      width: 100%;
      max-width: 26px;
      cursor: pointer;
      svg {
        fill: white;
        width: 100%;
        display: block;
      }
    }
  }
  &__products-wrapper {
    overflow-y: auto;
    flex: 1;
    @include scrollBar();
  }
  &__products,
  &__bumps {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px 20px 0 20px;
  }
  &__bumps {
    &:not(:has(div)) {
      display: none;
    }
    &__title {
      color: #000;
      text-align: center;
      font-size: 18.399px;
      font-weight: 900;
      line-height: 100%;
      padding-bottom: 14px;
      border-bottom: 2px solid red;
    }
  }
  &__dropdown-selector {
    user-select: none;
    border: 0.0625rem solid black;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    &:hover,
    &:focus,
    &.active {
      border-color: #0038ff;
    }
    &__selected-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      svg {
        width: 12px;
        transition: transform 0.2s;
      }
    }
    &.active {
      .cart__dropdown-selector__variants-wrapper {
        max-height: 134.4px;
        padding: 4px;
        border: 1px solid #c2c4c7;
        overflow: auto;
        @media (max-width: 768px) {
          max-height: 166.4px;
        }
      }
      .cart__dropdown-selector__selected-wrapper svg {
        transform: rotate(0.5turn);
      }
    }
    &__variants-wrapper {
      max-height: 0;
      border: 1px solid transparent;
      border-top: 0rem;
      border-bottom: 0rem;
      padding: 0 4px;
      overflow: hidden;
      position: absolute;
      z-index: 999;
      transition: 0.2s;
      top: calc(100% + 5px);
      left: 0;
      background-color: #f5f5f5;
      width: 100%;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      @include scrollBar();
      label {
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        input {
          accent-color: #0038ff;
          margin: 0;
        }
        &:has(input[disabled]) {
          color: #616161;
          text-decoration: line-through;
          label {
            cursor: not-allowed;
          }
          input {
            accent-color: #616161;
          }
        }
      }
    }
  }
  &__product {
    width: 100%;
    padding-bottom: 14px;
    border-bottom: 1px dashed #b3b3b3;
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__bump-button {
      @include defaultButton();
      background-color: red;
      font-size: 12px;
      padding: 10px;
      color: white;
      &:hover {
        background-color: #0047ff;
      }
    }
    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
    }
    &__quantity {
      background-color: #666;
      border-radius: 50%;
      color: #f5f5f5;
      display: grid;
      font-size: 14px;
      font-weight: 700;
      height: 22px;
      width: 22px;
      place-content: center;
      position: absolute;
      bottom: 100%;
      left: 100%;
      transform: translateX(-50%) translateY(50%);
    }
    &__image {
      position: relative;
      width: 100%;
      max-width: 100px;
      border: 1px solid #dedede;
      border-radius: 4px;
      img {
        border-radius: 4px;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }
    &:has(.cart__dropdown-selector) &__image {
      max-width: 65px;
    }
    &__texts {
      width: 100%;
      font-size: 14px;
      line-height: 100%;
    }
    &__name {
      font-weight: 700;
      margin-bottom: 8px;
    }
    &__old-price {
      color: #ff0d00;
      font-size: 14px;
      font-weight: 400;
      line-height: 100%;
      text-decoration-line: line-through;
    }
    &__new-price {
      // color: #0cb23b;
      font-size: 24px;
      font-weight: 900;
      line-height: 100%;
    }
  }
  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    &__total {
      font-size: 24px;
      font-weight: 400;
      line-height: 100%;
    }
    &__value {
      font-size: 44px;
      font-weight: 900;
      line-height: 100%;
    }
  }
  &__footer {
    margin-top: auto;
    padding: 20px;
    button {
      @include defaultButton();
      color: #fff;
      background-color: #0047ff;
      &:hover {
        background-color: red;
      }
    }
  }
}

.invalid label {
  animation: 0.3s forwards tilt-shaking;
  background-color: #ffe3e3 !important;
  border-color: #ff2321 !important;
}

@keyframes tilt-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0.3125rem);
  }
  50% {
    transform: translateX(-0.3125rem);
  }
  75% {
    transform: translateX(0.3125rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes grow {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
